{% extends 'principal.html' %}

{% load static %}

{% block cabecera %}
<h1>Empleados</h1>
<img src="{% static 'images/LogoEmpresa.png' %}" alt="Logo"/>
{% endblock %}

{% block contenido %}
<h1 class="display-3">Lista de empleados</h1>

{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}

<!--Formulario de búsquedas-->
<h1 class="display-3">Buscar Empleado</h1>
<form method="GET" class="mb-4" action = "{% url 'busquedaSimpleEmpleado' %}">
    <div class="input-group">
        <input type="text" name="textoBusqueda" value="{{ request.GET.textoBusqueda }}" class="form-control" placeholder="" aria-label="">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

<!--Resultados de búsquedas-->

<div class="row">
    {% for empleado in empleados%}
        <div class="col-sm-4 mb-2">
            <p>id {{empleado.id}}</p>


            <p>Usuario del empleado {{empleado.empleadoUsuario}}</p>
            <p>empleado {{empleado.empleado}}</p>
            <p>apellido {{empleado.apellido}}</p>
            <p>cargo {{empleado.cargo}}</p>
            <p>fecha_contratacion {{empleado.fecha_contratacion}}</p>
        
        </div>
    {% empty %}
        <h1>Lo sentimos pero no hay empleados</h1>
    {% endfor %}
</div>


{% endblock %}