
<html>
    <head></head>
    <body>
    <h1>MotorPartExpress</h1>

    <h2>Listado de enlaces</h2>
    <ul>
        <a class="nav-link" href="{% url 'empleados' %}">Mostrar empleados</a>
        <br>
        <a class="nav-link" href="{% url 'empleados_mejorado' %}">Mostrar empleados avanzado</a>
        <br>
        <a class="nav-link" href="{% url 'cliente_mejorado' %}">Mostrar clientes avanzado</a>

        <br>
        <a class="nav-link" href="{% url 'pedido_mejorado' %}">Mostrar pedidos avanzado</a>

        <br>
        <a>Búsquedas: </a>
        <br>
        <a class="nav-link" href="{% url 'busquedaSimpleEmpleado' %}">Búsqueda simple empleados</a>
        <br>
        <a class="nav-link" href="{% url 'busquedaAvanzadaEmpleado' %}">Búsqueda avanzada empleados</a>
        <br>
        <a class="nav-link" href="{% url 'busquedaAvanzadaClientes' %}">Búsqueda avanzada cliente</a>
        <br>
        <a class="nav-link" href="{% url 'busquedaAvanzadaPedidos' %}">Búsqueda avanzada pedido</a>
        <br>
        <a class="nav-link" href="{% url 'busquedaAvanzadaProveedor' %}">Búsqueda avanzada proveedor</a>
        <br>
        

        <br>
        <a class="nav-link" href="{% url 'proveedor_lista' %}">Mostrar proveedores</a>
        <br>
        <a class="nav-link" href="{% url 'proveedor_crear' %}">crear proveedores</a>
        <br>

        <a class="nav-link" href="{% url 'pedido_metodopago_lista' %}">Listar pedidos</a>
        <br>
        <a class="nav-link" href="{% url 'pedido_metodopago_lista' %}">crear pedido</a>
        <br>
    </ul>
</html>
