{% extends "principal.html" %}

{% block contenido %}
<form action = "{% url 'proveedor_crear' %}" method = "post" enctype="multipart/form-data"> 
    
    {% load django_bootstrap5 %}
    {% csrf_token %} 
    
    <div class="mb-4">
        {% bootstrap_field formulario.proveedor show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.telefono show_label=True %}
    </div>
    
    <div class="mb-4">
        {% bootstrap_field formulario.correo  show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.direccion  show_label=True %}
    </div>
    

    {% bootstrap_button "Enviar" button_type="submit" button_class="btn-primary" %}
</form>
{% endblock %}