

{% extends 'principal.html' %}

{% load static %}

{% load django_bootstrap5 %}

{% block cabecera %}
<h1>CREAR PIEZA MOTOR</h1>
<img src="{% static 'images/LogoEmpresa.png' %}" alt="Logo"/>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h2>Crear pieza</h2>
    <form action = "{% url 'piezamotor_create' %}" method="post">
        {% csrf_token %}

        <div class="mb-4">
            {% bootstrap_field form.pieza show_label=True %}
        </div>
        
        <div class="mb-4">
            {% bootstrap_field form.proveedor show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field form.pedido show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field form.precio show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field form.descripcion show_label=True %}
        </div>
        

        <div class="mb-4">
            {% bootstrap_field form.stock_disponible show_label=True %}
        </div>
        

        <button type="submit" class="btn btn-primary">Crear pieza</button>
    </form>
</div>
{% endblock %}
