

{% extends 'principal.html' %}

{% load static %}

{% load django_bootstrap5 %}

{% block cabecera %}
<h1>CREAR PEDIDO</h1>
<img src="{% static 'images/LogoEmpresa.png' %}" alt="Logo"/>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h2>Crear pedido</h2>
    <form action = "{% url 'pedido_create' %}" method="post">
        {% csrf_token %}

        <div class="mb-4">
            {% bootstrap_field form.pedido show_label=True %}
        </div>
        
        <div class="mb-4">
            {% bootstrap_field form.fecha_pedido show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field form.total_importe show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field form.estado show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field form.metodo_pago show_label=True %}
        </div>
        

        <div class="mb-4">
            {% bootstrap_field form.cliente show_label=True %}
        </div>
        

        <button type="submit" class="btn btn-primary">Crear pedido</button>
    </form>
</div>
{% endblock %}
